In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 

# Read CSV file, handling common missing value entries
na_vals = ["", "NA", "SUPP", "NP", "NE", "SP", "SN", "SUPPMAT"]
df_ks4 = pd.read_csv('https://raw.githubusercontent.com/huanfachen/QM/refs/heads/main/sessions/L2_data/england_ks4final.csv',
    na_values = na_vals
)

info_cols = ['RECTYPE', 'LEA', 'SCHNAME', 'TOTPUPS']
ebaccs_cols = ['EBACCAPS', 'EBACCAPS_LO', 'EBACCAPS_MID', 'EBACCAPS_HI']

df = df_ks4[info_cols + ebaccs_cols]

df.head()

/tmp/ipykernel_13020/1329269953.py:7: DtypeWarning: Columns (75,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,144,145,146,147,148,149,150,151,152,177,178,179,180,181,182,183,186,187,188,189,190,191,192,194,195,196,198,199,200,202,203,204,206,207,208,210,211,212,214,215,216,218,219,220,222,223,224,230,233,234,235,236,237,238,239,242,243,244,245,246,247,248,251,252,253,254,255,256,257,266,267,268,269,270,271,272,281,282,283,284,285,286,287,296,297,298,299,300,301,302,311,312,313,314,315,316,317,335,336,337,340,341,342,345,346,347,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ks4 = pd.read_csv('https://raw.githubusercontent.com/huanfachen/QM/refs/heads/main/sessions/L2_data/england_ks4final.csv',

,RECTYPE,LEA,SCHNAME,TOTPUPS,EBACCAPS,EBACCAPS_LO,EBACCAPS_MID,EBACCAPS_HI
0,1,201.0,City of London School,1045,2.10,NaN,NaN,NaN
1,1,201.0,City of London School for Girls,739,1.51,NaN,NaN,NaN
2,1,201.0,David Game College,365,0.56,NaN,NaN,NaN
3,4,201.0,NaN,0,NaN,NaN,NaN,NaN
4,1,202.0,Acland Burghley School,1163,4.62,1.91,3.81,6.87

In [2]:
rows, cols = df.shape
print(f"Rows: {rows}, Columns: {cols}")

Rows: 5813, Columns: 8

In [3]:
df.dtypes

RECTYPE           int64
LEA             float64
SCHNAME          object
TOTPUPS          object
EBACCAPS        float64
EBACCAPS_LO     float64
EBACCAPS_MID    float64
EBACCAPS_HI     float64
dtype: object

In [4]:
df[['TOTPUPS']+ebaccs_cols] = df[['TOTPUPS']+ebaccs_cols].apply(pd.to_numeric, errors='coerce')

/tmp/ipykernel_13020/2080033850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['TOTPUPS']+ebaccs_cols] = df[['TOTPUPS']+ebaccs_cols].apply(pd.to_numeric, errors='coerce')

In [5]:
df.dtypes

RECTYPE           int64
LEA             float64
SCHNAME          object
TOTPUPS         float64
EBACCAPS        float64
EBACCAPS_LO     float64
EBACCAPS_MID    float64
EBACCAPS_HI     float64
dtype: object

In [6]:
df.isna().mean() * 100

RECTYPE          0.000000
LEA              0.034406
SCHNAME          2.683640
TOTPUPS          1.221400
EBACCAPS        17.684500
EBACCAPS_LO     38.775159
EBACCAPS_MID    41.149148
EBACCAPS_HI     42.490969
dtype: float64

In [7]:
df[df['SCHNAME'].isna()]

,RECTYPE,LEA,SCHNAME,TOTPUPS,EBACCAPS,EBACCAPS_LO,EBACCAPS_MID,EBACCAPS_HI
3,4,201.0,NaN,0.0,NaN,NaN,NaN,NaN
24,4,202.0,NaN,10865.0,4.36,2.03,4.19,6.33
55,4,203.0,NaN,18998.0,4.13,2.14,4.21,5.77
88,4,204.0,NaN,15214.0,4.72,2.32,4.64,6.72
112,4,205.0,NaN,9905.0,5.12,2.26,4.93,6.90
...,...,...,...,...,...,...,...,...
5748,4,941.0,NaN,31801.0,3.96,2.16,4.04,6.08
5776,4,942.0,NaN,17442.0,3.81,2.08,3.85,5.54
5810,4,943.0,NaN,14503.0,3.97,2.29,3.81,5.80
5811,5,NaN,NaN,4129401.0,3.88,NaN,NaN,NaN
5812,7,NaN,NaN,3688033.0,4.05,2.07,4.05,6.09

In [9]:
df = df[df['RECTYPE'].isin([1, 2])].copy()

In [10]:
rows, cols = df.shape
print(f"Rows: {rows}, Columns: {cols}")

Rows: 5657, Columns: 8